.line {
    width: 600px;
    height: 3px;
    margin-top: 30px;
    background-color: gray;
}

.career {
    display: flex;
    flex-wrap: wrap; 
    text-decoration: none;
    width: 486.5px; 
 
}

.second {
    margin-top: 10px;
}

.third {
    margin-top: 10px;
}